[package]
name = "bankid"
version = "0.1.0"
authors = ["Nicklas Wallgren <nicklas.wallgren@gmail.com>"]
edition = "2018"
license = "MIT"
readme = "README.md"
description = "BankID API SDK"
homepage = "https://github.com/NicklasWallgren/bankid-rs"
repository = "https://github.com/NicklasWallgren/bankid-rs"
keywords = ["bankid","api", "sdk"]

[dependencies]
async-trait = { version = "0.1.48", optional = true }
base64 = "0.13.0"
derive_builder = "0.10.0"
maybe-async = "0.2.4"
reqwest = { version = "0.11.0", default-features = false, features = ["json", "socks", "blocking"], optional = true }
serde = { version = "1.0.125", features = ["derive"] }
serde_json = "1.0.61"
thiserror = "1.0.24"
url = "2.2.1"
pem = "0.8.1"
openssl = { version = "0.10.33", optional = true }
webpki-roots =  "0.21"
dyn-clone = "1.0.4"

[dev-dependencies]
env_logger = "0.8.1"
tokio = { version = "1.4", features = ["full"] }
futures = "0.3.5"
rand = "0.8.3"

[features]
default = ["__async", "reqwest/native-tls"]
async = ["__async", "reqwest/native-tls"]
sync = ["__sync", "reqwest/native-tls"]

# Internal features for checking async or sync compilation
__async = ["async-trait"]
__sync = ["maybe-async/is_sync"]

[[example]]
name = "authenticate"
path = "examples/authenticate.rs"

[[example]]
name = "sign"
path = "examples/sign.rs"
